name: Publish

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    env:
      SETUPTOOLS_SCM_OVERRIDES_FOR_IOS_BACKUP_BROWSER: '{local_scheme="no-local-version"}'

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0   # required for setuptools_scm

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Misc
        run: uv pip install --system setuptools-scm

      - name: Debug scm
        run: python -m setuptools_scm

      - name: Build
        run: uv build

      # - name: Publish
      #   run: uv publish
